extends layout
block content
  .landing
    .landing-page.form-container
      h1.landing-page.app-title Socket Chat
      .landing-page.form-wrapper
        include signUpForm
        include logInForm
        .landing-page.buttons 
          .landing-page.button.log-in-button Log In
          .landing-page.button.sign-up-button Sign Up
