extends layout
block scripts
  link(rel='stylesheet', type='text/css', href='/css/landing.css')
  script(src="/scripts/landing.js")
block content
  body
    .form-container
      h1.app-title Sockeet Chat
      .form-wrapper
        include signUpForm
        include logInForm
        .buttons 
          .button#log_in_button Log In
          .button#sign_up_button Sign Up
