.form.form-body--sign-up.invisible 
  form.form-sign-up( method='POST', action='/user/sign-up' )
    h3.form-header  Sign-up
    .row.form-row-email
      .twelve.columns
        label( for="Email") Email
        input.u-full-width( type='email' placeholder='human@email.org' name='email')
    .row.form-row-username
      .twelve.columns
        label( for="username") Username
        input.u-full-width( type='text' placeholder='ChatmanJones' name='username')
    .row.form-row-password
      .twelve.columns
        label( for="Password") Password
        input.u-full-width( type='password' placeholder='Password' name='password')
    .row.form-row-password
      .twelve.columns
        label( for="confirmPassword") Confirm Password
        input.u-full-width( type='password' placeholder='Confirm Password' name='password')
    .row.form-row-submit
      .button.button-danger.sign-up-cancel-button(value="Cancel") Cancel
      input.button-primary(type="submit" value="Submit")
