.app-title {
  display: flex;
  align-items:center;
  justify-content: center;
  color: #33C3F0;
  text-shadow: 2px 2px  rgba(0,0,0,0.2);

}

.form-header {
  width: 90%;
  text-align: left;
  border-bottom: 1px solid #e3e3e3;
}
.buttons {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.button-danger{
  background-color: red;
  color: white;
}

.button-danger:hover {
  color: white;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(/images/old_cells.jpg) no-repeat center center fixed;

  height: 100vh;
}

.form.form-body--log-in, .form.form-body--sign-up {
  width: 50%;
  min-width: 300px;
}

.invisible {
  display: none;
}

form.form-log-in, form.form-sign-up {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.form-row-email{
  padding-top: 15px;
}

@media (min-width: 550px){
  .row {
    width: 90%;
  }

  .form-row-submit {
    display: flex;
    justify-content: space-between;
  }

  .form-row-submit:after {
    content: none;
  }
}

#log_in_button, #sign_up_button {
  background: white;
}
